flows.json
[
    {
        "id": "991f1f3c0127d7d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "863b3d71cbad5427",
        "type": "firebase admin",
        "name": "node red test"
    },
    {
        "id": "2e3d18d1512dbf15",
        "type": "firebase config",
        "firebaseurl": "node-red-test-ada96-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "11eaf9bff298457a",
        "type": "inject",
        "z": "991f1f3c0127d7d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":2,\"humidity\":62}",
        "payloadType": "json",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "3b0e3e7acd3debe0"
            ]
        ]
    },
    {
        "id": "f518eb5d27d99b6f",
        "type": "debug",
        "z": "991f1f3c0127d7d7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "3b0e3e7acd3debe0",
        "type": "firebase modify",
        "z": "991f1f3c0127d7d7",
        "name": "",
        "firebaseconfig": "2e3d18d1512dbf15",
        "childpath": "/sensor-data",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "f518eb5d27d99b6f"
            ]
        ]
    }
]